.autoCompleteText {
	font-size: 12px;
	line-height: 16px;
}

.loading-text {
	padding-left: 22px;
	font-size: 14px;
}
.mat-input-element {
	overflow: hidden;
	text-overflow: ellipsis !important;
	white-space: nowrap;
	display: block !important;
}
