/////////////////////////////
///////// SVG //////////////
/* Icon message: Action*/
.icon-message-blue-health-absence {
	background-image: url("/assets/svg/message/action/icon-fb-health-absence.svg");
}
.icon-message-blue-health-control {
	background-image: url("/assets/svg/message/action/icon-fb-health-control.svg");
}

/* Icon Description: Primary */

.icon-description-blue-healthy-control {
	background-image: url("/assets/icons/cross/description/primary/healthy-control.svg");
}
.icon-description-blue-healthy-doctor {
	background-image: url("/assets/icons/cross/description/primary/healthy-doctor.svg");
}
.icon-description-blue-healthy-follow {
	background-image: url("/assets/icons/cross/description/primary/healthy-follow.svg");
}
.icon-description-blue-healthy-resume {
	background-image: url("/assets/icons/cross/description/primary/healthy-resume.svg");
}
.icon-description-blue-healthy-services {
	background-image: url("/assets/icons/cross/description/primary/healthy-services.svg");
}
.icon-description-blue-employee {
	background-image: url("/assets/icons/cross/description/primary/employee.svg");
}
.icon-description-blue-healthy-document {
	background-image: url("/assets/icons/cross/description/primary/document.svg");
}
