<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<packageSources>
		<add key="VismaLatAm.Libraries" value="https://rhpro.pkgs.visualstudio.com/_packaging/Visma_Latam_Cloud_Solutions/nuget/v3/index.json"/>
	</packageSources>
	<packageSourceCredentials>
		<VismaLatAm.Libraries>
			<add key="Username" value="__Username__" xdt:Transform="Replace" xdt:Locator="Match(key)" />
			<add key="ClearTextPassword" value="__ClearTextPassword__" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		</VismaLatAm.Libraries>
	</packageSourceCredentials>
</configuration>