<configuration>
  <packageSources>
    <add key="VismaLatAm.Libraries" value="https://rhpro.pkgs.visualstudio.com/_packaging/Visma_Latam_Cloud_Solutions/nuget/v3/index.json"/>
  </packageSources>
  <packageSourceCredentials>
    <VismaLatAm.Libraries>
		<add key="Username" value="svc_devops2@visma.com" />
		<add key="ClearTextPassword" value="j2fbsuwzou7tkb3wrekbygxd626mb4i72jvjgoknn2qydsynak3a" />
    </VismaLatAm.Libraries>
  </packageSourceCredentials>
</configuration>