.none {
	display: none;
}

label {
	cursor: pointer;
	padding: 10px 10px;
	color: rgb(219, 217, 217);
	background: rgb(241, 241, 241);
	border-radius: 100%;
}
.avatar-edit {
	position: relative;
	top: 50px;
	left: -40px;
}
.avatar-edit .vismaicon-16 {
	top: 3px;
}

.img-preview {
	display: block;
	width: 100%;
}
