.none {
	display: none;
}
.d-grid {
	display: grid;
}
.caption-main {
	font-size: 15px;
	cursor: pointer;
}
.upload-container {
	background-color: #f9f9f9;
	border: 0.15rem dashed #dddddd;
	margin-left: 15px;
	border-radius: 5px;
	text-align: center;
	padding: 20px 0;
}
